html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #ffffff !important;
    margin-bottom: 60px;
    background: #364759;
}

.table {
    color: #ffffff !important;
}

.navbar {
    color: #ffffff !important;
    background: #243040 !important;
}

footer {
    color: #ffffff !important;
    background: #243040;
}

.container {
    color: #ffffff !important;
}

.nav-item > a {
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
}

#logout {
    color: #ffffff !important;
}

.form-label {
    color: black !important
}

label {
    color: black !important
}
